{extend name="public/base" /}

<!-- 当前页面的样式及JS -->

<!--内容-->
{block name="main"}
<div style="height: 25px;">
</div>
<div class="lr_juzhong">

    <div class="jmyszhuti">
        <div class="jia_quanbu_text1">
            汉堡店加盟商可分享汉堡作为行业内知名品牌所带来的知名度和美誉度。拥有汉堡快速增长的客户群及粉丝群，从而提高品牌竞争力，使各汉堡店加盟商在西式快餐市场上并不是孤军奋斗，而且团体合作。
        </div>
        <div class="jia_quanbu_text2">
            公司拥有着来自美国的强大的专业产品研发团队，定期推出新产品，确保产品的味道优质。90%的原料由总部统一配送，确保品牌味道统一，真正西式快餐品质。
        </div>
        <div class="jia_quanbu_text3">
            公司为加盟商设立多个支持部门专门为各汉堡店加盟商解决开店难题
        </div>
        <div class="jia_quanbu_text4">
            360°保姆式服务指导，为新汉堡店加盟商进行专业的实地市场调查，地段评估，市场竞争环境等一系列的可行性分析，保证品牌成功入驻该区域。公司会汉堡店加盟商提供一系列的加盟指导，为创业者赢得经验，走在创业群体的龙头位置。
        </div>
        <div class="jia_quanbu_text5">
            公司将对汉堡店加盟商进行开业前指导培训，涵盖行业经营技巧、营业员接待技巧、产品专业知识、产品制作技巧、店面布置特色管理、市场预测下单、店长培训等一系列技术培训。开业后新产品上架前的新产品制作培训、营业业绩提升培训等。
        </div>
        <div class="jia_quanbu_text6">
            汉堡店加盟商开业时，公司专门的策划部门将根据当地消费群体的区域特性、消费习惯、购买力等诸多因素，有针对性的做出适合该地区的营销策划案，同时公司每年还策划1~2次大型的促销策划。
        </div>
        <div class="jia_quanbu_text7">
            公司每年都将推行全国性大型促销活动来提升品牌知名度，扩大市场占有率，活动的宣传品由公司免费设计。公司也可为各汉堡店加盟商提供有特色地符合当地消费群体的促销策划方案，并可指派当地直属分公司的业务员去实地指导促销活动的开展。
        </div>
        <div class="jia_quanbu_text8">
            公司将不定期派市场督导到各加盟店进行考察，确保品牌产品的统一化、规范化、标准化生产及销售。对各汉堡店加盟商的营销运作、货品陈列、销售策略、员工管理等各方面给予指导性建议，并根据各加盟店实际情况进行销售调整及产品促销推行，协助加盟商进行店铺管理。
        </div>
        <div class="jia_quanbu_text9">
            公司将对各加盟店进行区域保护政策，确保市场的合理分配，杜绝恶性竞争，防范于未然。提升各汉堡店加盟商在该市场区域内品牌的竞争力，确保汉堡店加盟商的良性运营。
        </div>
        <div class="jia_quanbu_text10">
            公司实现互联网信息传输共享，保证第一时间将公司内部信息与客户共享，以便及时调整市场策略及进行促销管理， 保证各汉堡店加盟商持续运营。
        </div>
    </div>
</div>
{/block}