{extend name="public/base" /}

<!-- 当前页面的样式及JS -->

<!--内容-->
{block name="main"}
<div style="height: 25px;">
</div>
<div class="lr_juzhong">
    <div class="lr_juzhong">
        <div class="jmlczhuti">
            <table style=" margin-top:110px;" width="1000" border="0" class="table">
                <tr>
                    <td colspan="9" height="124">
                    </td>
                </tr>
                <tr class="title">
                    <td width="60">
                    </td>
                    <td width="170" align="center">
                        1.加盟意向
                    </td>
                    <td width="66">
                    </td>
                    <td width="170" align="center">
                        2.确定意向
                    </td>
                    <td width="66">
                    </td>
                    <td width="170" align="center">
                        3.调查商圈
                    </td>
                    <td width="66">
                    </td>
                    <td width="170" align="center">
                        4.签订合同
                    </td>
                    <td width="60">
                    </td>
                </tr>
                <tr>
                    <td colspan="9" height="30">
                    </td>
                </tr>
                <tr class="detial">
                    <td width="60">
                    </td>
                    <td width="170" align="center">
                        总部电话咨询<br />
                        分店现场咨询
                    </td>
                    <td width="66">
                    </td>
                    <td width="170" align="center">
                        签署意向书<br />
                        缴纳意向金
                    </td>
                    <td width="66">
                    </td>
                    <td width="170" align="center">
                        分析店铺商圈<br />
                        预计销售额
                    </td>
                    <td width="66">
                    </td>
                    <td width="170" align="center">
                        签订加盟合同<br />
                        施工图纸确认
                    </td>
                    <td width="60">
                    </td>
                </tr>
                <tr>
                    <td colspan="9" height="184">
                    </td>
                </tr>
                <tr class="title">
                    <td width="60">
                    </td>
                    <td width="170" align="center">
                        8.开业及管理
                    </td>
                    <td width="66">
                    </td>
                    <td width="170" align="center">
                        7.施工完成
                    </td>
                    <td width="66">
                    </td>
                    <td width="170" align="center">
                        6.营运培训
                    </td>
                    <td width="66">
                    </td>
                    <td width="170" align="center">
                        5.装修阶段
                    </td>
                    <td width="60">
                    </td>
                </tr>
                <tr>
                    <td colspan="9" height="30">
                    </td>
                </tr>
                <tr class="detial">
                    <td width="60">
                    </td>
                    <td width="170" align="center" valign="top">
                        开业活动<br />
                        宣传促销
                    </td>
                    <td width="66">
                    </td>
                    <td width="170" align="center" valign="top">
                        填写报告<br />
                        确认报告
                    </td>
                    <td width="66">
                    </td>
                    <td width="170" align="center" valign="top">
                        设备安装<br />
                        开业前现场培训
                    </td>
                    <td width="66">
                    </td>
                    <td width="170" align="center" valign="top">
                        现场管理监督<br />
                        检查工程进展<br />
                        确定开业日期
                    </td>
                    <td width="60">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{/block}