{extend name="public/index" /}

<!-- 当前页面的样式及JS -->
{block name="custom"}
<meta name="baidu-site-verification" content="Hm2QqOBHdv" />
<!--滚动、手风琴-->
<link rel="stylesheet" type="text/css" href="/static/index/css/model.css" />
<!--滚动、手风琴-->
<!-- 新闻与趣吃RC -->
<link rel="stylesheet" type="text/css" href="/static/index/css/newsandrc.css" />
<script type="text/javascript" src="/static/index/js/slider.js"></script>
<script type="text/javascript" src="/static/index/js/newsandrc.js"></script>
<script type="text/javascript" src="/static/index/js/jqueryV173.js"></script>
<!-- 新闻与趣吃RC -->
<script type="text/javascript">
    /*大图流动框开始*/
    $(function () {
        var bannerSlider = new Slider($('#banner_tabs'), {
            time: 5000,
            delay: 400,
            event: 'hover',
            auto: true,
            mode: 'fade',
            controller: $('#bannerCtrl'),
            activeControllerCls: 'active'
        });
        $('#banner_tabs .flex-prev').click(function () {
            bannerSlider.prev()
        });
        $('#banner_tabs .flex-next').click(function () {
            bannerSlider.next()
        });
    })
    /*大图流动框结束*/
    function playPause() {
        var myVideo = document.getElementsByTagName('video')[0];
        if (myVideo.paused) {
            myVideo.play();
        }
        else {
            myVideo.pause();
        }
    }
    /*底部电话滚动限制与关闭开始*/
    onscroll = function () {
        var st = document.documentElement.scrollTop || document.body.scrollTop;
        if (!botphone.offsetWidth && st <= 3650) {
            botphone.style.display = 'block';
        }
        else if (!!botphone.offsetWidth && st > 3650) {
            botphone.style.display = 'none';
        }
    }
    $(document).ready(function () {
        $("#botmove").click(function () {
            $("#botphone").remove();
        });
    });
    /*底部电话滚动限制与关闭结束*/
</script>
{/block}

<!--内容-->
{block name="main"}
    <!-- 首页大图滚动开始 -->
    <div class="in_juzhon">
        <div id="banner_tabs" class="flexslider">
            <ul class="slides">
                <li>
                    <a href="http://www.lxhanbao.com/ms_hb_1.html" title="成都炸鸡店">
                        <img width="2000" height="550" alt="乐享汉堡店加盟_成都炸鸡店" style="background: url(/static/index/image/index/datu/4.jpg) no-repeat center;"
                             src="/static/index/image/alpha.png" />
                    </a>
                </li>
                <li>
                    <a href="http://www.lxhanbao.com/ms_hb_1.html" title="成都炸鸡店">
                        <img width="2000" height="550" alt="乐享汉堡店加盟_成都炸鸡店" style="background: url(/static/index/image/index/datu/4.jpg) no-repeat center;"
                             src="/static/index/image/alpha.png" />
                    </a>
                </li>
            </ul>
            <ul class="flex-direction-nav">
                <li style="float: left;">
                    <a class="flex-prev" href="javascript:;" title="上一页">Previous</a>
                </li>
                <li style="float: right; margin-right: 14px;">
                    <a class="flex-next" href="javascript:;" title="下一页">Next</a>
                </li>
            </ul>
            <ol id="bannerCtrl" class="flex-control-nav flex-control-paging">

                <li><a>2</a></li>
                <li><a>2</a></li>

            </ol>
        </div>
    </div>
    <!-- 首页大图滚动结束 -->
    <!--右侧广告栏开始-->
    <div id="banner_wrap">
        <div id="new_menu_area">
            <a href="{:url('index/join/process')}" target="_blank" title="加盟指南">
                <img src="/static/index/image/index/rightsidead.jpg" alt="乐享汉堡店加盟_广告" />
            </a>
        </div>
        <a class="main_banner_btn" href="#" title="">
            <img src="/static/index/image/index/rightsidebtn.png" alt="乐享汉堡店加盟_广告按钮" />
        </a>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            win_banner();
            $(window).resize(function () {
                win_banner();
            });
            $(".main_banner_btn").click(function () {
                if ($("#banner_wrap").hasClass("on")) {
                    $("#banner_wrap").animate({ "right": 0 }, 500);
                    $("#banner_wrap").removeClass("on");
                } else {
                    $("#banner_wrap").animate({ "right": -640 }, 500);
                    $("#banner_wrap").addClass("on");
                }

            });
        });
        function win_banner() {
            var win_wid = $(window).width();
            if (win_wid < 1280) {
                $("#banner_wrap").removeClass("on");
                $("#banner_wrap").css({ "right": 0 }, 500);
            } else {
                $("#banner_wrap").addClass("on");
                $("#banner_wrap").css({ "right": -640 }, 500);
            }
        }
    </script>
    <!--右侧广告栏结束-->
    <div style="height: 30px;">
    </div>
    <br />
    <div class="wordsin">
        <br />
        <p style="font-size: 24px; font-weight: 500;">
            &Phi;&nbsp;Maileji Hamburg</p>
        哆唻客汉堡<br />
        <br />
        <p class="title_sta_inside">
            풍부하다, 맛있다, 신선한 음식, 극력 만듭니다. 새로운, 특색 있는 음식 체인 시스템.</p>
        <br />
        <br />
        <br />
    </div>
    <!--视频、新闻、趣吃效果开始-->
    <div id="ea_c" style="width: 1200px; margin: 0 auto;">
        <div class="index_cnt">
            <div class="index_cnt_m">
                <div class="index_wrap">
                    <div class="index_con">
                        <div class="index_con1">
                            <!--视频效果开始-->
                            <div class="video">
                                <div class="video_title">
                                    产品展示&nbsp;비디오</div>
                                <div class="in_center_shipin">
                                    <a href="{:url('index/product/index')}" title="产品展示">
                                        <img src="/static/index/image/index/shipin.jpg" alt="乐享汉堡店加盟_产品展示" title="产品展示" width="330" height="212" />
                                    </a>
                                </div>
                            </div>
                            <!--视频效果结束-->
                            <!--xn_c_index_14_industry新闻效果开始-->
                            <div class="xn_c_index_14_industry">
                                <div class="xn_c_index_14_title">
                                    <span class="xn_c_index_14_title1">
                                        <!--edi_c5_1-->
                                        <span name="_edi_c5_1">新闻中心&nbsp;소식</span><!--edi_c5_1--></span> <span class="xn_c_index_14_title2">
                                            <!--edi_c5_2-->
                                            <span name="_edi_c5_2"></span>
                                    <!--edi_c5_2-->
                                        </span><span class="xn_c_index_14_title3"><a href="http://www.lxhanbao.com/xw_zx_1.html">
                                            <!--edi_c5_3-->
                                            <span name="_edi_c5_3">+</span><!--edi_c5_3--></a></span>
                                </div>
                                <div class="xn_c_index_14_indMain">
                                    <ul class="xn_c_index_14_indUl">
                                    {notempty name='news'}
                                        {volist name='news' id='val'}
                                        <li class="xn_c_index_14_indLi">
                                            <div class="xn_c_index_14_indTitle">
                                                <a title="{$val.title}" href="{:url('index/news/index')}?cat={$val.pid}&id={$val.id}" target="_blank">
                                                    {$val.title}
                                                </a>
                                            </div>
                                            <div class="xn_c_index_14_data"> 
                                                <span class="xn_c_5_time1">
                                                    <span class="xn_c_index_14_indData_ctl00_xn_c_5_Text1">
                                                        2018/10/17
                                                    </span>
                                                </span>
                                            </div>
                                        </li>
                                        {/volist}
                                    {/notempty}
                                    </ul>
                                </div>
                            </div>
                            <!--end_xn_c_index_14_industry新闻效果结束-->
                            <!--xn_c_index_15_news效果开始-->
                            <div class="xn_c_index_15_news">
                                <div class="xn_c_index15_title">
                                    <span class="xn_c_index15_title1">
                                        <!--edi_c5_4-->
                                        <span name="_edi_c5_4">店铺展示&nbsp;가게 전시</span><!--edi_c5_4--></span> <span class="xn_c_index15_title2">
                                            <!--edi_c5_5-->
                                            <span name="_edi_c5_5"></span>
                                    <!--edi_c5_5-->
                                        </span><span class="xn_c_index15_title3"><a href="http://www.lxhanbao.com/cp_hb_1.html">
                                            <!--edi_c5_6-->
                                            <span name="_edi_c5_6">+</span><!--edi_c5_6--></a></span>
                                </div>
                                <div class="xn_c_index15_indMain">
                                    <div class="xn_c_index15_left_btn">
                                    </div>
                                    <div class="xn_c_index15_con">
                                        <ul class="xn_c_index15_indUl">
                                            <li>
                                                <img src="/static/index/user/kindeditor/attached/image/20161103/20161103151908_7864.jpg" style="margin-left:12px;width:305px;height:205px;">
                                            </li>
                                            <li>
                                                <img src="/static/index/user/kindeditor/attached/image/20161103/20161103151819_1876.jpg" style="margin-left:12px;width:305px;height:205px;">
                                            </li>
                                            <li>
                                                <img src="/static/index/user/kindeditor/attached/image/20161103/20161103151726_0975.jpg" style="margin-left:12px;width:305px;height:205px;">
                                            </li>
                                            <li>
                                                <img src="/static/index/user/kindeditor/attached/image/20161103/20161103151524_5466.jpg" style="margin-left:12px;width:305px;height:205px;">
                                            </li>
                                            <li>
                                                <img src="/static/index/user/kindeditor/attached/image/20161103/20161103151819_1876.jpg" style="margin-left:12px;width:305px;height:205px;">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="xn_c_index15_right_btn">
                                    </div>
                                </div>
                            </div>
                            <!--end_xn_c_index_15_news趣吃RC效果结束-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--视频、新闻、趣吃效果结束-->
    <div style="height: 280px;">
    </div>
    <div class="wordsin">
        <br />
        <br />
        <br />
        <p class="title_sta">
            <font>产品体系</font>&nbsp;&nbsp;&nbsp;<a href="{:url('index/product/index')}" title="美味炸鸡">제품 체계</a></p>
        <br />
        <p class="title_sta_inside">
            맛 과 위생 · 건강과 합리적인 가격의 패스트푸드 브랜드.</p>
        <br />
    </div>
    <!-- 首页产品滚动开始 -->
    <div id="container">
        <div class="rd2">
            <img alt="上一张" class="l_btn" src="/static/index/image/index/l-btn.png" />
            <img alt="下一张" class="r_btn" src="/static/index/image/index/r-btn.png" />
            <div class="content">
                <div id="demo">
                    <div id="indemo" style="width: 3040px;">
                        <div id="demo1">
                            <ul class="product_listt roll_product clearfix">
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="美味猪腿堡" class="img">
                                    <img src="/static/index/image/index/p1.jpg" alt="乐享汉堡店加盟_美味猪腿堡" /></a>
                                    <h3>
                                        <a href="" title="">美味猪腿堡</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="甜辣无骨鸡腿肉" class="img">
                                    <img src="/static/index/image/index/product-31.jpg" alt="乐享汉堡店加盟_甜辣无骨鸡腿肉" /></a>
                                    <h3>
                                        <a href="" title="">甜辣无骨鸡腿肉</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="草莓奶昔" class="img">
                                    <img src="/static/index/image/index/p2.jpg" alt="乐享汉堡店加盟_草莓奶昔" /></a>
                                    <h3>
                                        <a href="" title="">草莓奶昔</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="双拼波浪全鸡" class="img">
                                    <img src="/static/index/image/index/product-32.jpg" alt="乐享汉堡店加盟_双拼波浪全鸡" /></a>
                                    <h3>
                                        <a href="" title="">双拼波浪全鸡</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="葱丝炸鸡" class="img">
                                    <img src="/static/index/image/index/product-33.jpg" alt="乐享汉堡店加盟_葱丝炸鸡" /></a>
                                    <h3>
                                        <a href="" title="">葱丝炸鸡</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="香脆熏肉堡" class="img">
                                    <img src="/static/index/image/index/p3.jpg" alt="乐享汉堡店加盟_香脆熏肉堡" /></a>
                                    <h3>
                                        <a href="" title="">香脆熏肉堡</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="火辣波浪全鸡" class="img">
                                    <img src="/static/index/image/index/product-34.jpg" alt="乐享汉堡店加盟_火辣波浪全鸡" /></a>
                                    <h3>
                                        <a href="" title="">火辣波浪全鸡</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="洋葱爆牛堡" class="img">
                                    <img src="/static/index/image/index/p4.jpg" alt="乐享汉堡店加盟_洋葱爆牛堡" /></a>
                                    <h3>
                                        <a href="" title="">洋葱爆牛堡</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="双拼无骨鸡腿肉" class="img">
                                    <img src="/static/index/image/index/product-35.jpg" alt="乐享汉堡店加盟_双拼无骨鸡腿肉" /></a>
                                    <h3>
                                        <a href="" title="">双拼无骨鸡腿肉</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="雪梨汁" class="img">
                                    <img src="/static/index/image/index/p5.jpg" alt="乐享汉堡店加盟_雪梨汁" /></a>
                                    <h3>
                                        <a href="" title="">雪梨汁</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="甜辣波浪全鸡" class="img">
                                    <img src="/static/index/image/index/product-36.jpg" alt="乐享汉堡店加盟_甜辣波浪全鸡" /></a>
                                    <h3>
                                        <a href="" title="">甜辣波浪全鸡</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="芝士炸鸡" class="img">
                                    <img src="/static/index/image/index/product-37.jpg" alt="乐享汉堡店加盟_芝士炸鸡" /></a>
                                    <h3>
                                        <a href="" title="">芝士炸鸡</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="火辣汉堡" class="img">
                                    <img src="/static/index/image/index/product-27.jpg" alt="乐享汉堡店加盟_火辣汉堡" /></a>
                                    <h3>
                                        <a href="" title="">火辣汉堡</a></h3>
                                </li>

                            </ul>
                        </div>
                        <div id="demo2">
                            <ul class="product_listt roll_product clearfix">
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="美味猪腿堡" class="img">
                                    <img src="/static/index/image/index/p1.jpg" alt="乐享汉堡店加盟_美味猪腿堡" /></a>
                                    <h3>
                                        <a href="" title="">美味猪腿堡</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="甜辣无骨鸡腿肉" class="img">
                                    <img src="/static/index/image/index/product-31.jpg" alt="乐享汉堡店加盟_甜辣无骨鸡腿肉" /></a>
                                    <h3>
                                        <a href="" title="">甜辣无骨鸡腿肉</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="草莓奶昔" class="img">
                                    <img src="/static/index/image/index/p2.jpg" alt="乐享汉堡店加盟_草莓奶昔" /></a>
                                    <h3>
                                        <a href="" title="">草莓奶昔</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="双拼波浪全鸡" class="img">
                                    <img src="/static/index/image/index/product-32.jpg" alt="乐享汉堡店加盟_双拼波浪全鸡" /></a>
                                    <h3>
                                        <a href="" title="">双拼波浪全鸡</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="葱丝炸鸡" class="img">
                                    <img src="/static/index/image/index/product-33.jpg" alt="乐享汉堡店加盟_葱丝炸鸡" /></a>
                                    <h3>
                                        <a href="" title="">葱丝炸鸡</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="香脆熏肉堡" class="img">
                                    <img src="/static/index/image/index/p3.jpg" alt="乐享汉堡店加盟_香脆熏肉堡" /></a>
                                    <h3>
                                        <a href="" title="">香脆熏肉堡</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="火辣波浪全鸡" class="img">
                                    <img src="/static/index/image/index/product-34.jpg" alt="乐享汉堡店加盟_火辣波浪全鸡" /></a>
                                    <h3>
                                        <a href="" title="">火辣波浪全鸡</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="洋葱爆牛堡" class="img">
                                    <img src="/static/index/image/index/p4.jpg" alt="乐享汉堡店加盟_洋葱爆牛堡" /></a>
                                    <h3>
                                        <a href="" title="">洋葱爆牛堡</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="双拼无骨鸡腿肉" class="img">
                                    <img src="/static/index/image/index/product-35.jpg" alt="乐享汉堡店加盟_双拼无骨鸡腿肉" /></a>
                                    <h3>
                                        <a href="" title="">双拼无骨鸡腿肉</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="雪梨汁" class="img">
                                    <img src="/static/index/image/index/p5.jpg" alt="乐享汉堡店加盟_雪梨汁" /></a>
                                    <h3>
                                        <a href="" title="">雪梨汁</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="甜辣波浪全鸡" class="img">
                                    <img src="/static/index/image/index/product-36.jpg" alt="乐享汉堡店加盟_甜辣波浪全鸡" /></a>
                                    <h3>
                                        <a href="" title="">甜辣波浪全鸡</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="芝士炸鸡" class="img">
                                    <img src="/static/index/image/index/product-37.jpg" alt="乐享汉堡店加盟_芝士炸鸡" /></a>
                                    <h3>
                                        <a href="" title="">芝士炸鸡</a></h3>
                                </li>
                                <li><a href="http://www.lxhanbao.com/ms_hb_1.html" title="火辣汉堡" class="img">
                                    <img src="/static/index/image/index/product-27.jpg" alt="乐享汉堡店加盟_火辣汉堡" /></a>
                                    <h3>
                                        <a href="" title="">火辣汉堡</a></h3>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 首页产品滚动结束 -->
    <!--首页产品滚动加载区域开始-->
    <script type="text/javascript" src="/static/index/js/common.js"></script>
    <script type="text/javascript">
        scroll(); //产品滚动
        $(".rd1 li").hover(function () {
            $(this).find("h3").slideDown();
        }, function () {
            $(this).find("h3").slideUp();
        });
    </script>
    <!--首页产品滚动加载区域结束-->
    <div class="wordsin">
        <br />
        <p class="title_end">
            <img src="/static/index/image/index/color-line.png" width="350" height="20" alt="乐享汉堡店加盟_分隔线" />
            <a href="{:url('index/product/index')}" title="汉堡加盟">패스트푸드 가맹</a>
            <img src="/static/index/image/index/color-line.png" width="350" height="20" alt="乐享汉堡店加盟_分隔线" />
        </p>
        <br />
        <img alt="乐享汉堡店加盟_分隔线" src="/static/index/image/index/color-line.png" />
        <br />
        <br />
        <br />
        <p class="title_sta">
            <font>店铺展示</font>&nbsp;&nbsp;&nbsp;
            <a href="{:url('index/store/index')}" title="店铺展示">가게 전시</a>
        </p>
        <br />
        <p class="title_sta_inside">
            맛 과 위생 · 건강과 합리적인 가격의 패스트푸드 브랜드.</p>
        <br />
        <br />
        <br />
    </div>
    <div class="in_juzhon">
        <a title="店铺展示">
            <img alt="店铺展示" width="100%" height="733" style="background: url(/static/index/image/index/diantest.jpg) no-repeat center;"
                 src="/static/index/image/alpha.png" /></a>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="wordsin">
        <br />
        <br />
        <p class="title_end">
            <img src="/static/index/image/index/color-line.png" width="350" height="20" alt="乐享汉堡店加盟_分隔线" /><a
                href="http://www.lxhanbao.com/dp_xn_1.html" title="店铺展示">가게</a><img src="/static/index/image/index/color-line.png"
                                                                                    width="350" height="20" alt="乐享汉堡店加盟_分隔线" /></p>
        <br />
        <img alt="" src="/static/index/image/index/color-line.png" />
        <br />
        <br />
        <br />
        <p class="title_sta">
            <font>汉堡炸鸡套餐</font>&nbsp;&nbsp;&nbsp;
            <a href="{:url('index/product/index')}" title="无骨鸡腿肉">햄버거 후라이드치킨 정식</a></p>
        <br />
        <p class="title_sta_inside">
            고객들이 REMNANT CHICKEN 을 드시는 모습을 볼 때 가장 행복합니다.<br />
            다양하게, 풍부하게, 알차게 선물하는 마음으로 항상 준비하겠습니다.</p>
        <br />
    </div>
    <!--手风琴效果开始-->
    <div class="shoufq">
        <div class='accordion' style="margin: 0 auto;">
            <ul>

                <li>
                    <div class='title'>
                        <a href="">家庭套餐</a>
                    </div>
                    <a href="javascript:void(0);" title="三人套餐">
                        <img src='/static/index/image/index/1.jpg' alt="乐享汉堡店加盟_三人套餐" />
                    </a>
                </li>
                <li>
                    <div class='title'>
                        <a href="javascript:void(0);">双人套餐</a>
                    </div>
                    <a href="javascript:void(0);" title="单人套餐">
                        <img src='/static/index/image/index/3.jpg' alt="乐享汉堡店加盟_单人套餐" />
                    </a>
                </li>
                <li>
                    <div class='title'>
                        <a href="javascript:void(0);">汉堡</a>
                    </div>
                    <a href="javascript:void(0);" title="汉堡">
                        <img src='/static/index/image/index/4.jpg' alt="乐享汉堡店加盟_汉堡" />
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <!--手风琴效果结束-->
    <div class="wordsin">
        <br />
        <br />
        <p class="title_end">
            <img src="/static/index/image/index/color-line.png" width="350" height="20" alt="汉堡店加盟_分隔线" />
            <a href="{:url('index/product/index')}" title="无骨鸡腿肉">세트</a>
            <img src="/static/index/image/index/color-line.png" width="350" height="20" alt="汉堡店加盟_分隔线" />
        </p>
        <br />
        <img alt="汉堡店加盟_分隔线" src="/static/index/image/index/color-line.png" />
        <br />
        <br />
        <br />
        <p class="title_sta">
            <font>品牌前景</font>&nbsp;&nbsp;&nbsp;
            <a href="{:url('index/aboutus/details')}?cat=1" title="品牌资质">브랜드 전망</a>
        </p>
        <br />
    </div>
    <!--品牌前景开始-->
    <div style="width: 1100px; margin: 20px auto;">
        <div style="width: 600px; float: left;">
            <img src="/static/index/image/index/bro-fb.png" alt="汉堡店加盟_公司标志" title="公司标志" /></div>
        <div style="width: 500px; float: right;">
            <div style="width: 130px; height: 4px; background-color: #fff; margin-bottom: 40px;
                margin-top: 75px;">
            </div>
            <div style="margin-top: 20px; font-size: 14px;">
                民以食为天，吃是永远的朝阳产业，不分国籍，不分地域，中国是个有着13亿人口的大市场，13亿人的胃，永远也填不饱。餐饮行业无论在任何时候都是个投入少、产出高、低风险的行业。
            </div>
            <div style="margin-top: 20px; font-size: 14px;">
                汉堡炸鸡，在一条百年街上有一家经营了近十年的汉堡店，没有华丽的装修，却引得众多食客慕名而来。
            </div>
            <div style="margin-top: 20px; font-size: 14px;">
                秉承着专注精致、注重细节的家族精神，成都餐协餐饮管理有限公司将此美味的秘方引入中国，让更多中国消费者能品尝到传统地道的西式快餐品牌。
            </div>
            <div style="margin-top: 20px; font-size: 14px;">
                可谓正宗，服务周全。炸鸡汉堡加盟选乐享汉堡。公司提供全方位的技术支持与服务，让您选择的事业没有后顾之忧！
            </div>
        </div>
    </div>
    <!--品牌前景结束-->
    <div style="height: 480px;">
    </div>
    <!--底部电话开始-->
    <div style="background-color: #f5cb1f; opacity: 1; width: 100%;">
        <div id="botphone">
            <img src="/static/index/image/index/bottom_hold.png" usemap="#Map" border="0" alt="汉堡店加盟_底部电话" />
            <map name="Map" id="Map">
                <area shape="rect" coords="1479,33,1515,69" id="botmove" title="关闭" />
            </map>
        </div>
    </div>
    <!--底部电话结束-->

{/block}