{extend name="public/base" /}

<!-- 当前页面的样式及JS -->

<!--内容-->
{block name="main"}
<!-----主体----->
<div style="height: 25px;">
</div>
<div class="lr_juzhong">
    <div class="qyln-1">
        <div style="height: 120px;">
        </div>
        <div class="qyln-text">
            特色是餐饮店的灵魂，没有特色便没有了餐饮店生存的根本。然而，特色的形成是一个系统工程。</div>
        <div class="qyln-text">
            特色的资源收集来自于主打产品的地域、民族、历史、民俗、传统、文化、事件、名人等各种渠道。特色越鲜明，就越能做出特色。</div>
        <div class="qyln-text">
            汉堡的特色就是正宗的西式快餐品牌，在从口味、腌料制作过程，我们都是严格按照西式快餐口味来制作的，我们尽可能的保存了正宗的西方口味，让顾客能够在中国就品味到西方的味道。</div>
    </div>
    <div class="qyln-2">
        <div style="height: 120px;">
        </div>
        <div class="qyln-text">
            汉堡分店虽有点小，却在开设之初就定出了自己的标准。从核心的“原料”“腌料”“制作方法”三个方面入手制定了加工标准，保证了产品质量的一贯性、长期性、稳定性。</div>
        <div class="qyln-text">
            而且，在发展连锁的过程中，我们开发了特制的酱料，电子计算的油温和时长，每一个环节都按照一定的标准要求执行，这是我们加盟店经营成功的关键所在。</div>
        <div class="qyln-text">
            加盟店虽小，但是起步就要求非常严格，统一标准，提升水平，使得小产品做成了大产业，小投资却有大市场，单品低成本高利润，规模发展却有高回报的一种餐饮业态。</div>
    </div>
    <div class="qyln-3">
        <div style="height: 120px;">
        </div>
        <div class="qyln-text">
            品牌在餐饮业的发展与竞争中起着不可替代的巨大作用。它不仅包括商标、名称、包装、价格、历史、声誉、符号、广告风格等一系列无形资产的总和，背后还包含服务质量、品质、创新意识、人才结构、水平、文化等丰富的内涵。</div>
        <div class="qyln-text">
            它是餐饮业竞争力的集中体现，餐饮的竞争方式已经不再是单纯的价格竞争、质量竞争、经营形式竞争、文化背景竞争，而是转向为具有高度概括特性的品牌竞争。餐饮要想在残酷的市场竞争中立足并进一步站稳脚跟，必须具备在市场上叫得响的品牌。</div>
    </div>
    <div class="qyln-4">
        <div style="height: 120px;">
        </div>
        <div class="qyln-text">
            我国现代餐饮的业态发展已基本完善。宾馆餐饮、特色餐馆、物业餐饮、休闲餐饮、快餐、送餐、家庭厨房工程等经营业态在很多城市已经出现并形成互相补充、相互竞争的态势，无论哪种业态的餐饮，考虑发展壮大必然要走规模扩大的道路。经营有方的中小餐饮要想步入发展的快车道，发展出路是实行连锁经营。</div>
    </div>
</div>
{/block}